<?xml version="1.0" encoding="utf-8"?>


<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="rs.aleph.android.example13">



    <application
        android:allowBackup="true"
        android:label= "@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">



        <activity
            android:name=".activities.activity.FirstActivity"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="rs.aleph.android.example13.activities.activity.SecondActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:icon="@mipmap/ic_launcher">
        </activity>

        <activity
            android:name="rs.aleph.android.example13.activities.activity.PreferencesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="rs.aleph.android.example13.activities.activity.FirstActivity"
            android:label="Preferences">
        </activity>

    </application>

</manifest>


